<header class="container"> <!-- NAVBAR -->
    <div class="navbar navbar-default navbar-fixed-top" id="menu" ng-controller = "loginAndRegisterController">
        <div class="navbar-header navbar-inverse">
            <button class="btn btn-success navbar-toggle"></button>
            <a class="navbar-brand" href="#">Fitness App</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#/explore">Explore</a></li>
                <!--<li><a href="#/profile">My Profile</a></li>-->
                <li><a href="#/about">About</a></li>
                <li><a href="#/calorieCalculator">Cal Calculator</a></li>
                <li><a href = "#/message">Messages</a></li>
                <!--<li><a href="#/login">Login</a></li>
                <li><a href="#/register">Register</a></li>-->
            </ul>
            <div class="navbar-collapse collapse navbar-right" style="margin-right: 7.5px;">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                    <a id="dropdown" class="dropdown-toggle" ng-show="loggedIn" data-toggle="dropdown" role="button" aria-expanded="true"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong>{{currentUser}}</strong> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a ng-controller = "profileController" href = "" ng-click="goToProfile(currentUser)">Profile</a></li>
                      <li class="divider"></li>
                      <li><a href="#/about" ng-click="logout()">Sign Out</a></li>
                      <li><a ng-click="deleteUser()">Delete User</a></li>
                    </ul> 
                  </li>
                <li><form action="#/login"><button href="#/login" class="btn btn-success outline navbar-btn" ng-show="!loggedIn">Login</button></form></li>
                <li><form action="#/register"><button href="#/register" class="btn btn-success outline navbar-btn" ng-show="!loggedIn">Register</button></form></li>
                </ul>
            </div>
        </div>
    </div>
</header><!-- NAVBAR END-->
<div class = "container">
		<p class="text-center">Welcome to FitnessApp.</p>
		<div class = "masthead-followup row m-0 border border-white">
			<div class = "col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
				<h3>Who are we?</h3>
				<p>FitnessApp is a group-focused fitness application that allows you to create and participate in fitness challenges.
				Choose between private and public challenges and show off your successful completions to your friends!
				</p>
			</div>
			<div class = "col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
				<h3>Why choose us?</h3>
				<p>If you have ever felt unmotivated to get off the couch and exercise, or put down the junk food and eat healthy, FitnessApp
				is perfect for you. We provide you the perfect platform to push health & fitness beyond the individual level, and 
				dive into its social aspect. Eat healthy, get fit, and have fun while doing it!</p>
			</div>
			<div class = "col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
				<h3>Features</h3>
				<p>We currently support two types of challenges: a nutrition goal, and a running goal. Stay tuned for more coming soon!</p>
			</div>
		</div>
</div>