<header class="container"> <!-- NAVBAR -->
    <div class="navbar navbar-default navbar-fixed-top" id="menu" ng-controller = "loginAndRegisterController">
        <div class="navbar-header navbar-inverse">
            <button class="btn btn-success navbar-toggle"></button>
            <a class="navbar-brand" href="#">Fitness App</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#/explore">Explore</a></li>
                <!--<li><a href="#/profile">My Profile</a></li>-->
                <li><a href="#/about">About</a></li>
                <li><a href="#/calorieCalculator">Cal Calculator</a></li>
                <li><a href = "#/message">Messages</a></li>
                <!--<li><a href="#/login">Login</a></li>
                <li><a href="#/register">Register</a></li>-->
            </ul>
            <div class="navbar-collapse collapse navbar-right" style="margin-right: 7.5px;">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                    <a id="dropdown" class="dropdown-toggle" ng-show="loggedIn" data-toggle="dropdown" role="button" aria-expanded="true"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong>{{currentUser}}</strong> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a ng-controller = "profileController" href = "" ng-click="goToProfile(currentUser)">Profile</a></li>
                      <li class="divider"></li>
                      <li><a href="#/about" ng-click="logout()">Sign Out</a></li>
                      <li><a ng-click="deleteUser()">Delete User</a></li>
                    </ul> 
                  </li>
                <li><form action="#/login"><button href="#/login" class="btn btn-success outline navbar-btn" ng-show="!loggedIn">Login</button></form></li>
                <li><form action="#/register"><button href="#/register" class="btn btn-success outline navbar-btn" ng-show="!loggedIn">Register</button></form></li>
                </ul>
            </div>
        </div>
    </div>
</header><!-- NAVBAR END-->
    <div>
    <div>
       
        <div class = "row">
            <div class="col-xs-2 col-md-1">
                &nbsp;
            </div>
            <div class="col-xs-6 col-md-8">
                <h3>{{getChallengeDetails(getChallengeIdFromURL()).name}}</h3>
            </div>
            <div class="col-xs-4 col-md-3">
                &nbsp;
            </div>
        </div>
        <div class = "row">
            <div class="col-xs-2 col-md-1">
                &nbsp;
            </div>
            <div class="col-xs-6 col-md-8">
                <p class="text-success">
                <small></small>
            </p>
            <p>
                {{getChallengeDetails(getChallengeIdFromURL()).description}}
               
            </p>
            <p>    
                {{getChallengeDetails(getChallengeIdFromURL()).startDate}} - {{getChallengeDetails(getChallengeIdFromURL()).endDate}}
            </p>
            <p>    
                Host: <a ng-controller = "profileController" href = "" ng-click="goToProfile(getChallengeDetails(getChallengeIdFromURL()).host)">
                {{getChallengeDetails(getChallengeIdFromURL()).host}}
                </a>
            </p>
                <hr style = "border-top: 1px solid #8c8b8b;">
            </div>
            <div class="col-xs-4 col-md-3 text-center">
            <h1 class="text-success">{{getChallengeDetails(getChallengeIdFromURL()).enrolled.length}}</h1>
            </div>
        </div>
        <ul class="list-group">
            <li data-ng-repeat="user in getChallengeDetails(getChallengeIdFromURL()).enrolled" class= "list-group-item" style="border: 1px solid white; position: relative; display: block; padding: 10px 15px; margin-bottom: 20px;">
                <div class = "row">
                    <div class="col-xs-2 col-md-1">
                        &nbsp;
                    </div>
                    <div class="col-xs-6 col-md-7">
                        <h4><a ng-controller = "profileController" href = "" ng-click="goToProfile(user.id)">
                        <p>{{user.username}}</p>
                        </a></h4>
                         <h4>{{user.progress}} %</h4>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        &nbsp;
                    </div>
               </div>
               <div class = "row">
                   <div class="col-xs-2 col-md-1">
                        &nbsp;
                    </div>
                    <div class="col-xs-6 col-md-8">
                        <div class="progress progress-striped active">
                        {{setProgressBarStyle(user.progress)}};
                        <div class="progress-bar" ng-style="progressBarStyle"></div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-3 text-center">
                        &nbsp;
                    </div>
               </div>
            </li>
        </ul>
    </div>
    </div> 